<h1><strong><u>Letter To The Negro Population Throughout The Island of Jamaica</u></strong></h1>
<img src="assets/apprentice.jpeg">
<p style="line-height: 2;">Excerpt: "You will, on the first of August next, no longer be slaves, but from that day you will be APPRENTICED to your former owners for a few years, in order to fit you all for freedom. It will therefore depend entirely upon your own conduct whether
    your apprenticeship be short or long, for should you runaway you will be brought back by the Maroons and Police, and have to remain in APPRENTICESHIP longer than those who behave well."</p>
<p style="line-height: 2;">This artifact is a document explaining the “apprenticeship” of Jamaican slaves. They were no longer slaves, but continued to have incredibly limited rights and representation, along with still being profited off of by their previous masters. Apprenticeship
    was a progression from slavery - however, former slaves were still forced to take orders and were still exploited on plantations - especially labor intensive ones (like sugar plantations). Even while there was progress, plantations still depended
    on slavery.
</p>
<p><em>Letter To The Negro Population Throughout The Island of Jamaica - 1834</em></p>