<h1><u><strong>Excerpt From <em>The Outline of the History of Mankind</em></strong></u></h1>
<img style="width:400px;" src="assets/cm.png">
<p style="line-height: 2;">This book, written by racist psuedoscientist Christoph Meiners, shows how scientific racism was used to justify the horrendous treatment that slaves would suffer. With the terrifyingly harsh and cruel punishments slaves suffered on labor-intensive plantations
    - especially sugar-based ones - scientific racists calmed their conscience by publishing and institutionalizing a standard of racism within academia.</p>
<p><em>Excerpt from The Outline of the History of Mankind - Christoph Meiners, 1787</em></p>