<h1><strong>Sugar in the Middle Ages & Renaissance</strong></h1>

<p style="line-height: 2;">
    Though the industry of slavery and sugar reached its peak in the early colonization of the Americas, the roots of the industry go back to medieval Europe. After initially encountering sugar in Palestine during the crusades, Italian merchants, especially
    those in Venice, would go on to reap great profits from this industry. European demand for sugar was high, and merchants adjusted to meet the demand. They would make many innovations in the refinement and production of sugar, all of which made the
    sugar trade even more lucrative. Some incredibly powerful Venetians would even create large-scale sugar plantations with serfs and Arab slaves - prototypes of what would later be established in the New World.
</p>