<h1><strong>Early Sugar Plantations in the Caribbean</strong></h1>

<p style="line-height: 2;">
    The profit off of sugar plantations in places such as the Caribbean were incredibly successful and appealing. Many slaves in America and Europe were imported from the West Indies and the Caribbeans. Different factors took place that allowed great profits
    to be gained off of sugar plantations. The sugar revolution, for example, was an event that introduced sugar plantations in the Eastern regions of the Caribbean. The sugar revolution caused a impactful increase in sugar production, whilst also causing
    an large increase on slavery labor. Even when there was slight progression in the freedom of slaves much later, there was still a lot of profit being made off of the sugar plantations and the work was being done by imported slaves.
</p>