<h1><strong><u>Sugar Mill - 1700s</u></strong></h1>
<img style="width:400px" src="assets/mill.png">
<p style="line-height: 2;">Even after slavery was abolished, laborers were still brought to places like India, China, and Portugal to work on sugar plantations. In this picture, it shows slaves working on a plantation in the Caribbean. Sugarcane is best grown on relatively flat
    land near water, and the soil should be yellow and fertile. However, in the middle of the 17th century, there began to be a lack of trees which were needed for timber in the sugar refinement process, so European imperial powers began fighting and
    competing over the Carribean to try to take control over it.</p>