<h1><u><strong>Ecstasy of Saint Teresa</strong></u></h1>
<img style="width:400px" src="assets/saintt.jpeg">
<p><em>Ecstasy of Saint Teresa - Gian Lorenzo Bernini, 1702</em></p>
<p style="line-height: 2;">This beautiful piece of artwork was constructed by the Cornaro family in their personal chapel to display their extreme wealth and societal position. They were a powerful family within Venetian society and ran a brutal and profitable sugar plantation
    in Episcopi, Cyprus. This sugar plantation provided them with great wealth when it was exported to the rest of Europe. In order to make such a large plantation work in a cost-effective manner, they used Arab slaves or local serfs.
</p>