<h1><strong><u>Deck Plans of British Slave Ship</u></strong></h1>
<img style="width:400px" src="assets/ship.jpeg">
<p style="line-height: 2;">European economic growth required cheap labor, which caused a policy of slavery to be created. This policy led to the slave trade, a trade in which European ships transported manufactured goods to Africa’s west coast in return for African slaves. The
    slaves would then be taken to America. Once they were located in America, the Europeans would be traded agricultural goods in exchange.
</p>