<h1><strong><u>Slave Voyages</u></strong></h1>
<img width="400px" src="assets/slavedepart.png">
<p style="line-height: 2;">This map shows the locations that slaves departed from Africa during the Transatlantic Salve Trade (1514-1866). Europeans would arrive in Africa, trade goods or money for slaves, and brutally transport those slaves across the Atlantic ocean for labor.
    These slaves would mostly go on to work on plantations - many would perform the brutal labor required to harvest and refine sugar.</p>