<h1><strong><u>Sugar Crushing Mill - 1700s</u></strong></h1>
<img style="width:400px" src="assets/sugarplant.png">
<p style="line-height: 2;">Sugar cane production was back breaking work. Sugar cane was crushed soon after cutting, to extract the vital sucrose juice. Once harvest began, the work for the enslaved labourers was intense and the crushing mills were in almost constant operation.
    Power was supplied by wind, water or, as seen here, by animals. The use of three vertical rollers seems to have been a common design.
</p>