<h1><u><strong>Excerpt from... The Way to get wealth; or, An easie way to make wine ... A help to discourse, and divers curiosities.</strong></u></h1>
<img width="400px" src="assets/vd.png">
<p><em>The Way to get wealth; or, An easie way to make wine ... A help to discourse, and divers curiosities - Lupton, Thomas, 1702</em></p>
<p>This artifact shows the origin of the production of sugar in Venice - a book written in 1702 attributes the refinement of sugar to a Venetian 200 years ago. This helps clarify how sugar began to be further developed and fleshed out as a trade in Italy
    (especially Venice) around the Renaissance.
</p>