<h1><u><strong>Sugar and Slavery: A Museum of Trade and its Toils</strong></u></h1>

<p style="line-height: 2;">
    Ever since medieval times, Europe has been consumed with a desire for sugar and as a result, the industry surrounding it exploded. Once the New World was discovered, early settlers would establish sugar plantations in order to get in on the lucrative
    trade. Farming sugar was incredibly labor intensive, and the sugar farmers of the New World would eventually turn to slave labor as their primary source of sugar production. These slaves were mostly African, and in order to justify their horrific
    treatment, the pseudoscience of race emerged.
</p>